# Ignore temporary or compiled files
*.pyc
*.swp

# Ignore cache files (but not the directory itself)
/cache/**

# Ignore directories looking like results or test data
/data*/
/result*/

# Do not ignore requirements.txt.
!requirements.txt
