# Ignore temporary or compiled files.
*.pyc
*.swp

# Ignore directories looking like results or test data.
/data*/
/result*/

# But do not ignore data-clusters, which contains useful scripts.
!/data-clusters

# Do not ignore requirements.txt.
!requirements.txt
